<a href="https://colab.research.google.com/github/luxhary12345/LeKhacAnhChinh/blob/master/baitap1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])

list1 = ['physics', 'chemistry', 1997, 2000]
print(list1)
del list1[2]
print("After deleting value at index 2 : ")
print(list1)

print(len([1,2,4,65,6,2]))
print([1,2,3]+[4,5,6])
print(["Hello"]*3)
print(6 in [6,2,5,1,2,5])
for z in [123,51231,651241]:
  print(z)
L = ["Red", "Yellow","Green"]
print(L[2])
print(L[-1])
print(L[1:])
list1=[5,1,2,5,7,12315,123,6,78,1,2]
len(list1)
print(max(list1))
min(list1)
a=("jojo",7,1,2,6,8,3,"asd")
#print(list(a))#
list1.append(123124)
print(list1)
print(list1.count(5))
print(list1.index(5))
b=[1]
print(list1.insert(5,b))
list1.remove(78)
print(list1)
list1.reverse 
print(list1)
list1.sort
print(list1)
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)
tup = ('physics', 'chemistry', 1997, 2000)
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry
print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]
Value available at index 2 :
1997
New value available at index 2 :
2001
['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]
6
[1, 2, 3, 4, 5, 6]
['Hello', 'Hello', 'Hello']
True
123
51231
651241
Green
Green
['Yellow', 'Green']
12315
[5, 1, 2, 5, 7, 12315, 123, 6, 78, 1, 2, 123124]
2
0
None
[5, 1, 2, 5, 7, [1], 12315, 123, 6, 1, 2, 123124]
[5, 1, 2, 5, 7, [1], 12315, 123, 6, 1, 2, 123124]
[5, 1, 2, 5, 7, [1], 12315, 123, 6, 1, 2, 123124]
tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)
(12, 34.56, 'abc', 'xyz')
dict['Name']:  Zara
dict['Age']:  7
dict['Age']:  8
dict['School']:  DPS School

In [57]:
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
# Adding element to the set
Set.add("d")
print("\nSet after adding: ")
print(Set)

Set:
{'c', 'b', 'a'}

Set after adding:
{'c', 'b', 'd', 'a'}

In [59]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
  people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

People:
{'Archi', 'Jay', 'Idrish'}

Set after adding element: {1, 2, 3, 4, 5, 'Idrish', 'Archi', 'Jay', 'Daxit'}

In [60]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
# This method will remove
# all the elements of the set
set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [61]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
# Union using union() function
population = people.union(vampires)
print("Union using union() function")
print(population)
# Union using "|" operator
population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Karan', 'Idrish', 'Archil', 'Jay', 'Arjun'}

Union using '|' operator
{'Deepanshu', 'Raju', 'Idrish', 'Archil', 'Jay'}

In [63]:
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Intersection using intersection() function
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
# Intersection using "&" operator
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)
set1 = set()
for i in range(5):
set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Difference of two sets using difference() function
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
# Difference of two sets using '-' operator
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

In [ ]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

In [ ]:
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)